{
  "swagger" : "2.0",
  "info" : {
    "description" : "Swagger OpenApi Spec for Camunda REST API.",
    "version" : "v7.8.0",
    "title" : "Camunda REST API",
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host" : "camunda.k8s.softwaregroup-bg.com",
  "basePath" : "/engine-rest/engine/default",
  "tags" : [ {
    "name" : "Authorization"
  }, {
    "name" : "Batch"
  }, {
    "name" : "Case Definition"
  }, {
    "name" : "Case Execution"
  }, {
    "name" : "Decision Definition"
  }, {
    "name" : "Deployment"
  }, {
    "name" : "Execution"
  }, {
    "name" : "External"
  }, {
    "name" : "Filter"
  }, {
    "name" : "Group"
  }, {
    "name" : "Identity"
  }, {
    "name" : "Job Definition"
  }, {
    "name" : "Job Execution"
  }, {
    "name" : "Message"
  }, {
    "name" : "Migration"
  }, {
    "name" : "Modification"
  }, {
    "name" : "Process Definition"
  }, {
    "name" : "Process Instance"
  }, {
    "name" : "Task"
  }, {
    "name" : "Tenant"
  }, {
    "name" : "User"
  }, {
    "name" : "Variable"
  } ],
  "schemes" : [ "http" ],
  "paths" : {
    "/authorization" : {
      "get" : {
        "tags" : [ "Authorization" ],
        "summary" : "Queries for a list of authorizations using a list of parameters.",
        "description" : "Queries for a list of authorizations using a list of parameters. The size of the result set can be retrieved by using the Get Authorization Count method.",
        "operationId" : "queryAuthorizations",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "resourceId",
          "in" : "query",
          "description" : "Filter by resource id.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userIdIn",
          "in" : "query",
          "description" : "Filter by a comma-separated list of userIds.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "maxResults",
          "in" : "query",
          "description" : "Pagination of results. Specifies the maximum number of results to return. Will return less results if there are no more results left.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sortOrder",
          "in" : "query",
          "description" : "Sort the results in a given order. Values may be asc for ascending order or desc for descending order. Must be used in conjunction with the sortBy parameter.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "groupIdIn",
          "in" : "query",
          "description" : "Filter by a comma-separated list of groupIds.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "firstResult",
          "in" : "query",
          "description" : "Pagination of results. Specifies the index of the first result to return.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "Sort the results lexicographically by a given criterion. Valid values are resourceType and resourceId. Must be used in conjunction with the sortOrder parameter.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "query",
          "description" : "Filter by the id of the authorization.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Filter by authorization type. (0=global, 1=grant, 2=revoke). See the User Guide for more information about authorization types.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "resourceType",
          "in" : "query",
          "description" : "Filter by an integer representation of the resource type. See the User Guide for a list of integer representations of resource types.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful.",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "object"
              }
            }
          },
          "400" : {
            "description" : "Returned if some of the query parameters are invalid, for example if a sortOrder parameter is supplied, but no sortBy is specified. See the Introduction for the error response format."
          }
        }
      },
      "options" : {
        "tags" : [ "Authorization" ],
        "summary" : "The `/authorization` resource supports two custom OPTIONS requests, one for the resource as such and one for individual authorization instances.",
        "description" : "The `/authorization` resource supports two custom OPTIONS requests, one for the resource as such and one for individual authorization instances. The OPTIONS request allows you to check for the set of available operations that the currently authenticated user can perform on the `/authorization` resource. Whether the user can perform an operation or not may depend on various factors, including the users authorizations to interact with this resource and the internal context of the process engine.",
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Request successful.",
            "schema" : {
              "$ref" : "#/definitions/ResourceOptionsDto"
            }
          }
        }
      }
    },
    "/authorization/check" : {
      "get" : {
        "tags" : [ "Authorization" ],
        "summary" : "Performs an authorization check for the currently authenticated user.",
        "description" : "Performs an authorization check for the currently authenticated user.",
        "operationId" : "isUserAuthorized",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "permissionName",
          "in" : "query",
          "description" : "Parameter permissionName",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "resourceName",
          "in" : "query",
          "description" : "Parameter resourceName",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "resourceType",
          "in" : "query",
          "description" : "Parameter resourceType",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "resourceId",
          "in" : "query",
          "description" : "Parameter resourceId",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful.",
            "schema" : {
              "$ref" : "#/definitions/AuthorizationCheckResultDto"
            }
          },
          "404" : {
            "description" : "Authorization with given id does not exist. See the Introduction for the error response format."
          }
        }
      }
    },
    "/authorization/count" : {
      "get" : {
        "tags" : [ "Authorization" ],
        "summary" : "Queries for authorizations using a list of parameters and retrieves the count.",
        "description" : "Queries for authorizations using a list of parameters and retrieves the count.",
        "operationId" : "getAuthorizationCount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "resourceId",
          "in" : "query",
          "description" : "Filter by resource Id.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userIdIn",
          "in" : "query",
          "description" : "Filter by a comma-seperated list of userIds.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "groupIdIn",
          "in" : "query",
          "description" : "Filter by a comma-seperated list of groupIds.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "query",
          "description" : "Filter by the id of the authorization.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Filter by authorization type. (0=global, 1=grant, 2=revoke). See the User Guide for more information about authorization types.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "resourceType",
          "in" : "query",
          "description" : "Filter by an integer representation of the resource type. See the User Guide for a list of integer representations of resource types.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful.",
            "schema" : {
              "$ref" : "#/definitions/CountResultDto"
            }
          },
          "400" : {
            "description" : "Returned if some of the query parameters are invalid, for example if a sortOrder parameter is supplied, but no sortBy is specified. See the Introduction for the error response format."
          }
        }
      }
    },
    "/authorization/create" : {
      "post" : {
        "tags" : [ "Authorization" ],
        "summary" : "Creates a new authorization.",
        "description" : "Creates a new authorization.",
        "operationId" : "createAuthorization",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Parameter dto",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AuthorizationCreateDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful.",
            "schema" : {
              "$ref" : "#/definitions/AuthorizationDto"
            }
          },
          "403" : {
            "description" : "The authenticated user is unauthorized to create an instance of this resource. See the Introduction for the error response format."
          },
          "500" : {
            "description" : "The authorization could not be updated due to an internal server error. See the Introduction for the error response format."
          }
        }
      }
    },
    "/authorization/{id}" : {
      "get" : {
        "tags" : [ "Authorization" ],
        "summary" : "Retrieves an authorization by id.",
        "description" : "Retrieves an authorization by id.",
        "operationId" : "getAuthorization",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Parameter id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful."
          },
          "404" : {
            "description" : "Authorization with given id does not exist. See the Introduction for the error response format."
          }
        }
      },
      "put" : {
        "tags" : [ "Authorization" ],
        "summary" : "Updates an authorization by id.",
        "description" : "Updates an authorization by id.",
        "operationId" : "updateAuthorization",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Parameter Authorization",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AuthorizationDto"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "Parameter id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Request successful."
          },
          "403" : {
            "description" : "The authenticated user is unauthorized to update this resource. See the Introduction for the error response format."
          },
          "404" : {
            "description" : "The authorization with the requested Id cannot be found."
          },
          "500" : {
            "description" : "The authorization could not be updated due to an internal server error. See the Introduction for the error response format."
          }
        }
      },
      "delete" : {
        "tags" : [ "Authorization" ],
        "summary" : "Deletes an authorization by id.",
        "description" : "Deletes an authorization by id.",
        "operationId" : "deleteAuthorization",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Parameter id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful."
          },
          "403" : {
            "description" : "If the authenticated user is unauthorized to delete the resource instance. See the Introduction for the error response format."
          },
          "404" : {
            "description" : "Authorization cannot be found. See the Introduction for the error response format."
          }
        }
      },
      "options" : {
        "tags" : [ "Authorization" ],
        "summary" : "The `/authorization` resource supports two custom OPTIONS requests, one for the resource as such and one for individual authorization instances.",
        "description" : "The `/authorization` resource supports two custom OPTIONS requests, one for the resource as such and one for individual authorization instances. The OPTIONS request allows you to check for the set of available operations that the currently authenticated user can perform on the `/authorization` resource. Whether the user can perform an operation or not may depend on various factors, including the users authorizations to interact with this resource and the internal context of the process engine.",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Parameter id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful.",
            "schema" : {
              "$ref" : "#/definitions/ResourceOptionsDto"
            }
          }
        }
      }
    },
    "/batch" : {
      "get" : {
        "tags" : [ "Batch" ],
        "summary" : "Queries for batches that fulfill given parameters.",
        "description" : "Queries for batches that fulfill given parameters. Parameters may be the properties of batches, such as the id or type.  The size of the result set can be retrieved by using the Get Batch Count method.",
        "operationId" : "getBatches",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "tenantIdIn",
          "in" : "query",
          "description" : "Filter by a comma-separated list of tenant ids. A batch matches if it has one of the given tenant ids.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "maxResults",
          "in" : "query",
          "description" : "Pagination of results. Specifies the maximum number of results to return. Will return less results if there are no more results left.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sortOrder",
          "in" : "query",
          "description" : "Sort the results in a given order. Values may be asc for ascending order or desc for descending order. Must be used in conjunction with the sortBy parameter.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "withoutTenantId",
          "in" : "query",
          "description" : "Only include batches which belong to no tenant. Value can effectively only be true, as false is the default behavior.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "firstResult",
          "in" : "query",
          "description" : "Pagination of results. Specifies the index of the first result to return.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "Sort the results lexicographically by a given criterion. Valid values are batchId and tenantId. Must be used in conjunction with the sortOrder parameter.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "batchId",
          "in" : "query",
          "description" : "Filter by batch id.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Filter by batch type. See the User Guide for more information about batch types.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "suspended",
          "in" : "query",
          "description" : "A Boolean value which indicates whether only active or suspended batches should be included. When the value is set to true, only suspended batches will be returned and when the value is set to false, only active batches will be returned.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "object"
              }
            }
          }
        }
      }
    },
    "/batch/count" : {
      "get" : {
        "tags" : [ "Batch" ],
        "summary" : "Requests the number of batches that fulfill the query criteria.",
        "description" : "Requests the number of batches that fulfill the query criteria. Takes the same filtering parameters as the Get Batches method.",
        "operationId" : "getBatchesCount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "tenantIdIn",
          "in" : "query",
          "description" : "Filter by a comma-separated list of tenant ids. A batch matches if it has one of the given tenant ids.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "withoutTenantId",
          "in" : "query",
          "description" : "Only include batches which belong to no tenant. Value can effectively only be true, as false is the default behavior.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "batchId",
          "in" : "query",
          "description" : "Filter by batch id.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Filter by batch type. See the User Guide for more information about batch types.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "suspended",
          "in" : "query",
          "description" : "A Boolean value which indicates whether only active or suspended batches should be included. When the value is set to true, only suspended batches will be returned and when the value is set to false, only active batches will be returned.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CountResultDto"
            }
          }
        }
      }
    },
    "/batch/statistics" : {
      "get" : {
        "tags" : [ "Batch" ],
        "summary" : "Queries for batch statistics that fulfill given parameters.",
        "description" : "Queries for batch statistics that fulfill given parameters. Parameters may be the properties of batches, such as the id or type.  The size of the result set can be retrieved by using the Get Batch Statistics Count method.",
        "operationId" : "getBatchStatistics",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "tenantIdIn",
          "in" : "query",
          "description" : "Filter by a comma-separated list of tenant ids. A batch matches if it has one of the given tenant ids.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "maxResults",
          "in" : "query",
          "description" : "Pagination of results. Specifies the maximum number of results to return. Will return less results if there are no more results left.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sortOrder",
          "in" : "query",
          "description" : "Sort the results in a given order. Values may be asc for ascending order or desc for descending order. Must be used in conjunction with the sortBy parameter.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "withoutTenantId",
          "in" : "query",
          "description" : "Only include batches which belong to no tenant. Value can effectively only be true, as false is the default behavior.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "firstResult",
          "in" : "query",
          "description" : "Pagination of results. Specifies the index of the first result to return.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "Sort the results lexicographically by a given criterion. Valid values are batchId and tenantId. Must be used in conjunction with the sortOrder parameter.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "batchId",
          "in" : "query",
          "description" : "Filter by batch id.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Filter by batch type. See the User Guide for more information about batch types.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "suspended",
          "in" : "query",
          "description" : "A Boolean value which indicates whether only active or suspended batches should be included. When the value is set to true, only suspended batches will be returned and when the value is set to false, only active batches will be returned.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "object"
              }
            }
          }
        }
      }
    },
    "/batch/statistics/count" : {
      "get" : {
        "tags" : [ "Batch" ],
        "summary" : "Requests the number of batch statistics that fulfill the query criteria.",
        "description" : "Requests the number of batch statistics that fulfill the query criteria.  Takes the same filtering parameters as the Get Batch Statistics method.",
        "operationId" : "getStatisticsCount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "tenantIdIn",
          "in" : "query",
          "description" : "Filter by a comma-separated list of tenant ids. A batch matches if it has one of the given tenant ids.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "withoutTenantId",
          "in" : "query",
          "description" : "Only include batches which belong to no tenant. Value can effectively only be true, as false is the default behavior.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "batchId",
          "in" : "query",
          "description" : "Filter by batch id.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Filter by batch type. See the User Guide for more information about batch types.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "suspended",
          "in" : "query",
          "description" : "A Boolean value which indicates whether only active or suspended batches should be included. When the value is set to true, only suspended batches will be returned and when the value is set to false, only active batches will be returned.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CountResultDto"
            }
          }
        }
      }
    },
    "/batch/{id}" : {
      "get" : {
        "tags" : [ "Batch" ],
        "summary" : "Retrieves a batch by id, according to the `Batch` interface in the engine.",
        "description" : "Retrieves a batch by id, according to the `Batch` interface in the engine.",
        "operationId" : "getBatch",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Parameter batchId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      },
      "delete" : {
        "tags" : [ "Batch" ],
        "summary" : "Deletes a batch by id, including all related jobs and job definitions.",
        "description" : "Deletes a batch by id, including all related jobs and job definitions. Optionally also deletes the batch history.",
        "operationId" : "deleteBatch",
        "parameters" : [ {
          "name" : "cascade",
          "in" : "query",
          "description" : "Parameter cascade",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "Parameter batchId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Request successful."
          },
          "404" : {
            "description" : "Deployment with id 'aDeploymentId' does not exist. See the Introduction for the error response format."
          }
        }
      }
    },
    "/batch/{id}/suspended" : {
      "put" : {
        "tags" : [ "Batch" ],
        "summary" : "Activates or suspends a batch by id.",
        "description" : "Activates or suspends a batch by id.",
        "operationId" : "updateBatchSuspensionState",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Parameter suspensionState",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/SuspensionStateDto"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "Parameter batchId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Request successful."
          },
          "400" : {
            "description" : "Returned if the batch cannot be suspended or activated. See the Introduction for the error response format."
          }
        }
      }
    },
    "/case-definition" : {
      "get" : {
        "tags" : [ "Case Definition" ],
        "summary" : "Queries for case definitions that fulfill given parameters.",
        "description" : "Queries for case definitions that fulfill given parameters. Parameters may be the properties of case definitions, such as the name, key or version. The size of the result set can be retrieved by using the Get Case Definition Count method.",
        "operationId" : "getCaseDefinitions",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "resourceNameLike",
          "in" : "query",
          "description" : "Filter by names of those case definition resources that the parameter is a substring of.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "caseDefinitionIdIn",
          "in" : "query",
          "description" : "Filter by case definition ids.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "caseDefinitionId",
          "in" : "query",
          "description" : "Filter by case definition id.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "firstResult",
          "in" : "query",
          "description" : "Pagination of results. Specifies the index of the first result to return.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "resourceName",
          "in" : "query",
          "description" : "Filter by the name of the case definition resource. Exact match.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "includeCaseDefinitionsWithoutTenantId",
          "in" : "query",
          "description" : "Include case definitions which belong to no tenant. Can be used in combination with tenantIdIn. Value may only be true, as false is the default behavior.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "version",
          "in" : "query",
          "description" : "Filter by case definition version.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "categoryLike",
          "in" : "query",
          "description" : "Filter by case definition categories that the parameter is a substring of.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "nameLike",
          "in" : "query",
          "description" : "Filter by case definition names that the parameter is a substring of.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "latestVersion",
          "in" : "query",
          "description" : "Only include those case definitions that are latest versions. Value may only be true, as false is the default behavior.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "tenantIdIn",
          "in" : "query",
          "description" : "Filter by a comma-separated list of tenant ids. A case definition must have one of the given tenant ids.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "maxResults",
          "in" : "query",
          "description" : "Pagination of results. Specifies the maximum number of results to return. Will return less results if there are no more results left.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deploymentId",
          "in" : "query",
          "description" : "Filter by the deployment the id belongs to.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "keyLike",
          "in" : "query",
          "description" : "Filter by case definition keys that the parameter is a substring of.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sortOrder",
          "in" : "query",
          "description" : "Sort the results in a given order. Values may be asc for ascending order or desc for descending order. Must be used in conjunction with the sortBy parameter.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "Filter by case definition name.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "withoutTenantId",
          "in" : "query",
          "description" : "Only include case definitions which belong to no tenant. Value may only be true, as false is the default behavior.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "Sort the results lexicographically by a given criterion. Valid values are category, key, id, name, version, deploymentId and tenantId. Must be used in conjunction with the sortOrder parameter.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "category",
          "in" : "query",
          "description" : "Filter by case definition category. Exact match.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "key",
          "in" : "query",
          "description" : "Filter by case definition key, i.e., the id in the CMMN XML. Exact match.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful.",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "object"
              }
            }
          },
          "400" : {
            "description" : "Returned if some of the query parameters are invalid, for example if a sortOrder parameter is supplied, but no sortBy. See the Introduction for the error response format."
          }
        }
      }
    },
    "/case-definition/count" : {
      "get" : {
        "tags" : [ "Case Definition" ],
        "summary" : "Requests the number of case definitions that fulfill the query criteria.",
        "description" : "Requests the number of case definitions that fulfill the query criteria. Takes the same filtering parameters as the Get Case Definitions method.",
        "operationId" : "getCaseDefinitionsCount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "resourceNameLike",
          "in" : "query",
          "description" : "Filter by names of those case definition resources that the parameter is a substring of.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "caseDefinitionIdIn",
          "in" : "query",
          "description" : "Filter by case definition ids.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "caseDefinitionId",
          "in" : "query",
          "description" : "Filter by case definition id.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "resourceName",
          "in" : "query",
          "description" : "Filter by the name of the case definition resource. Exact match.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "includeCaseDefinitionsWithoutTenantId",
          "in" : "query",
          "description" : "Include case definitions which belong to no tenant. Can be used in combination with tenantIdIn. Value may only be true, as false is the default behavior.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "version",
          "in" : "query",
          "description" : "Filter by case definition version.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "categoryLike",
          "in" : "query",
          "description" : "Filter by case definition categories that the parameter is a substring of.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "nameLike",
          "in" : "query",
          "description" : "Filter by case definition names that the parameter is a substring of.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "latestVersion",
          "in" : "query",
          "description" : "Only include those case definitions that are latest versions. Value may only be true, as false is the default behavior.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "tenantIdIn",
          "in" : "query",
          "description" : "Filter by a comma-separated list of tenant ids. A case definition must have one of the given tenant ids.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deploymentId",
          "in" : "query",
          "description" : "Filter by the deployment the id belongs to.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "keyLike",
          "in" : "query",
          "description" : "Filter by case definition keys that the parameter is a substring of.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "Filter by case definition name.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "withoutTenantId",
          "in" : "query",
          "description" : "Only include case definitions which belong to no tenant. Value may only be true, as false is the default behavior.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "category",
          "in" : "query",
          "description" : "Filter by case definition category. Exact match.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "key",
          "in" : "query",
          "description" : "Filter by case definition key, i.e., the id in the CMMN XML. Exact match.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful.",
            "schema" : {
              "$ref" : "#/definitions/CountResultDto"
            }
          },
          "400" : {
            "description" : "Returned if some of the query parameters are invalid, for example if a sortOrder parameter is supplied, but no sortBy. See the Introduction for the error response format."
          }
        }
      }
    },
    "/case-definition/key/{key}" : {
      "get" : {
        "tags" : [ "Case Definition" ],
        "summary" : "Retrieves a case definition according to the `CaseDefinition` interface in the engine.",
        "description" : "Retrieves a case definition according to the `CaseDefinition` interface in the engine.",
        "operationId" : "getCaseDefinitionByKey",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "Parameter caseDefinitionKey",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful."
          },
          "404" : {
            "description" : "Case definition with given id or key does not exist. See the Introduction for the error response format."
          }
        }
      }
    },
    "/case-definition/key/{key}/create" : {
      "post" : {
        "tags" : [ "Case Definition" ],
        "summary" : "Instantiates a given case definition.",
        "description" : "Instantiates a given case definition. Case variables and business key may be supplied in the request body.",
        "operationId" : "createCaseInstance",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Parameter parameters",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CreateCaseInstanceDto"
          }
        }, {
          "name" : "key",
          "in" : "path",
          "description" : "Parameter caseDefinitionKey",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful.",
            "schema" : {
              "$ref" : "#/definitions/CaseInstanceDto"
            }
          },
          "400" : {
            "description" : "The case instance could not be created due to an invalid variable value, for example if the value could not be parsed to an Integer value or the passed variable type is not supported. See the Introduction for the error response format."
          },
          "403" : {
            "description" : "The case execution cannot be instantiated because of CMMN restrictions. See the Introduction for the error response format."
          },
          "404" : {
            "description" : "The case instance could not be created due to a nonexistent case definition. See the Introduction for the error response format."
          },
          "500" : {
            "description" : "The case instance could not be created successfully. See the Introduction for the error response format."
          }
        }
      }
    },
    "/case-definition/key/{key}/diagram" : {
      "get" : {
        "tags" : [ "Case Definition" ],
        "summary" : "Retrieves the diagram of a case definition.",
        "description" : "Retrieves the diagram of a case definition.",
        "operationId" : "getCaseDefinitionDiagram",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "Parameter caseDefinitionKey",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful."
          },
          "204" : {
            "description" : "The case definition doesn't have an associated diagram."
          },
          "404" : {
            "description" : "Case definition with given id or key does not exist. See the Introduction for the error response format."
          }
        }
      }
    },
    "/case-definition/key/{key}/history-time-to-live" : {
      "put" : {
        "tags" : [ "Case Definition" ],
        "summary" : "Updates history time to live for case definition with given id.",
        "description" : "Updates history time to live for case definition with given id. The field is used within History cleanup.",
        "operationId" : "updateCaseHistoryTimeToLive",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Parameter historyTimeToLiveDto",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/HistoryTimeToLiveDto"
          }
        }, {
          "name" : "key",
          "in" : "path",
          "description" : "Parameter caseDefinitionKey",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Request successful."
          },
          "400" : {
            "description" : "Returned if some of the request parameters are invalid."
          },
          "404" : {
            "description" : "case definition with given id does not exist. See the Introduction for the error response format."
          }
        }
      }
    },
    "/case-definition/key/{key}/tenant-id/{tenantId}" : {
      "get" : {
        "tags" : [ "Case Definition" ],
        "summary" : "Retrieves a case definition according to the `CaseDefinition` interface in the engine.",
        "description" : "Retrieves a case definition according to the `CaseDefinition` interface in the engine.",
        "operationId" : "getCaseDefinitionByKeyAndTenantId",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "Parameter caseDefinitionKey",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "description" : "Parameter tenantId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful."
          },
          "404" : {
            "description" : "Case definition with given id or key does not exist. See the Introduction for the error response format."
          }
        }
      }
    },
    "/case-definition/key/{key}/tenant-id/{tenantId}/create" : {
      "post" : {
        "tags" : [ "Case Definition" ],
        "summary" : "Instantiates a given case definition.",
        "description" : "Instantiates a given case definition. Case variables and business key may be supplied in the request body.",
        "operationId" : "createCaseInstanceTenant",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Parameter parameters",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CreateCaseInstanceDto"
          }
        }, {
          "name" : "key",
          "in" : "path",
          "description" : "Parameter caseDefinitionKey",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "description" : "Parameter tenantId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful.",
            "schema" : {
              "$ref" : "#/definitions/CaseInstanceDto"
            }
          },
          "400" : {
            "description" : "The case instance could not be created due to an invalid variable value, for example if the value could not be parsed to an Integer value or the passed variable type is not supported. See the Introduction for the error response format."
          },
          "403" : {
            "description" : "The case execution cannot be instantiated because of CMMN restrictions. See the Introduction for the error response format."
          },
          "404" : {
            "description" : "The case instance could not be created due to a nonexistent case definition. See the Introduction for the error response format."
          },
          "500" : {
            "description" : "The case instance could not be created successfully. See the Introduction for the error response format."
          }
        }
      }
    },
    "/case-definition/key/{key}/tenant-id/{tenantId}/diagram" : {
      "get" : {
        "tags" : [ "Case Definition" ],
        "summary" : "Retrieves the diagram of a case definition.",
        "description" : "Retrieves the diagram of a case definition.",
        "operationId" : "getCaseDefinitionDiagramTenant",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "Parameter caseDefinitionKey",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "description" : "Parameter tenantId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful."
          },
          "204" : {
            "description" : "The case definition doesn't have an associated diagram."
          },
          "404" : {
            "description" : "Case definition with given id or key does not exist. See the Introduction for the error response format."
          }
        }
      }
    },
    "/case-definition/key/{key}/tenant-id/{tenantId}/history-time-to-live" : {
      "put" : {
        "tags" : [ "Case Definition" ],
        "summary" : "Updates history time to live for case definition with given id.",
        "description" : "Updates history time to live for case definition with given id. The field is used within History cleanup.",
        "operationId" : "updateCaseHistoryTimeToLiveTenant",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Parameter historyTimeToLiveDto",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/HistoryTimeToLiveDto"
          }
        }, {
          "name" : "key",
          "in" : "path",
          "description" : "Parameter caseDefinitionKey",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "description" : "Parameter tenantId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Request successful."
          },
          "400" : {
            "description" : "Returned if some of the request parameters are invalid."
          },
          "404" : {
            "description" : "case definition with given id does not exist. See the Introduction for the error response format."
          }
        }
      }
    },
    "/case-definition/key/{key}/tenant-id/{tenantId}/xml" : {
      "get" : {
        "tags" : [ "Case Definition" ],
        "summary" : "Retrieves the CMMN XML of a case definition.",
        "description" : "Retrieves the CMMN XML of a case definition.",
        "operationId" : "getCaseDefinitionCmmnXmlTenant",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "Parameter caseDefinitionKey",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "tenantId",
          "in" : "path",
          "description" : "Parameter tenantId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful.",
            "schema" : {
              "$ref" : "#/definitions/CaseDefinitionDiagramDto"
            }
          },
          "404" : {
            "description" : "Case definition with given id or key does not exist. See the Introduction for the error response format."
          }
        }
      }
    },
    "/case-definition/key/{key}/xml" : {
      "get" : {
        "tags" : [ "Case Definition" ],
        "summary" : "Retrieves the CMMN XML of a case definition.",
        "description" : "Retrieves the CMMN XML of a case definition.",
        "operationId" : "getCaseDefinitionCmmnXml",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "Parameter caseDefinitionKey",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful.",
            "schema" : {
              "$ref" : "#/definitions/CaseDefinitionDiagramDto"
            }
          },
          "404" : {
            "description" : "Case definition with given id or key does not exist. See the Introduction for the error response format."
          }
        }
      }
    },
    "/case-definition/{id}" : {
      "get" : {
        "tags" : [ "Case Definition" ],
        "summary" : "Retrieves a case definition according to the `CaseDefinition` interface in the engine.",
        "description" : "Retrieves a case definition according to the `CaseDefinition` interface in the engine.",
        "operationId" : "getCaseDefinitionById",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Parameter caseDefinitionId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful."
          },
          "404" : {
            "description" : "Case definition with given id or key does not exist. See the Introduction for the error response format."
          }
        }
      }
    },
    "/case-definition/{id}/create" : {
      "post" : {
        "tags" : [ "Case Definition" ],
        "summary" : "Instantiates a given case definition.",
        "description" : "Instantiates a given case definition. Case variables and business key may be supplied in the request body.",
        "operationId" : "createCaseInstanceId",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Parameter parameters",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CreateCaseInstanceDto"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "Parameter caseDefinitionId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful.",
            "schema" : {
              "$ref" : "#/definitions/CaseInstanceDto"
            }
          },
          "400" : {
            "description" : "The case instance could not be created due to an invalid variable value, for example if the value could not be parsed to an Integer value or the passed variable type is not supported. See the Introduction for the error response format."
          },
          "403" : {
            "description" : "The case execution cannot be instantiated because of CMMN restrictions. See the Introduction for the error response format."
          },
          "404" : {
            "description" : "The case instance could not be created due to a nonexistent case definition. See the Introduction for the error response format."
          },
          "500" : {
            "description" : "The case instance could not be created successfully. See the Introduction for the error response format."
          }
        }
      }
    },
    "/case-definition/{id}/diagram" : {
      "get" : {
        "tags" : [ "Case Definition" ],
        "summary" : "Retrieves the diagram of a case definition.",
        "description" : "Retrieves the diagram of a case definition.",
        "operationId" : "getCaseDefinitionDiagramId",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Parameter caseDefinitionId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful."
          },
          "204" : {
            "description" : "The case definition doesn't have an associated diagram."
          },
          "404" : {
            "description" : "Case definition with given id or key does not exist. See the Introduction for the error response format."
          }
        }
      }
    },
    "/case-definition/{id}/history-time-to-live" : {
      "put" : {
        "tags" : [ "Case Definition" ],
        "summary" : "Updates history time to live for case definition with given id.",
        "description" : "Updates history time to live for case definition with given id. The field is used within History cleanup.",
        "operationId" : "updateHistoryTimeToLiveId",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Parameter historyTimeToLiveDto",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/HistoryTimeToLiveDto"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "Parameter caseDefinitionId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Request successful."
          },
          "400" : {
            "description" : "Returned if some of the request parameters are invalid."
          },
          "404" : {
            "description" : "case definition with given id does not exist. See the Introduction for the error response format."
          }
        }
      }
    },
    "/case-definition/{id}/xml" : {
      "get" : {
        "tags" : [ "Case Definition" ],
        "summary" : "Retrieves the CMMN XML of a case definition.",
        "description" : "Retrieves the CMMN XML of a case definition.",
        "operationId" : "getCaseDefinitionCmmnXmlId",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Parameter caseDefinitionId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful.",
            "schema" : {
              "$ref" : "#/definitions/CaseDefinitionDiagramDto"
            }
          },
          "404" : {
            "description" : "Case definition with given id or key does not exist. See the Introduction for the error response format."
          }
        }
      }
    },
    "/case-execution" : {
      "get" : {
        "tags" : [ "Case Execution" ],
        "summary" : "Queries for case executions that fulfill given parameters.",
        "description" : "Queries for case executions that fulfill given parameters. Parameters may be static as well as dynamic runtime properties of case executions. The size of the result set can be retrieved by using the Get Case Execution Count method.",
        "operationId" : "getCaseExecutions",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "caseExecutionId",
          "in" : "query",
          "description" : "Filter by a case execution id.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "variables",
          "in" : "query",
          "description" : "Only include case executions that have variables with certain values. Variable filtering expressions are comma-separated and are structured as follows: A valid parameter value has the form key_operator_value. key is the variable name, operator is the comparison operator to be used and value the variable value. Note: Values are always treated as String objects on server side. Valid operator values are: eq - equal to; neq - not equal to; gt - greater than; gteq - greater than or equal to; lt - lower than; lteq - lower than or equal to; like. key and value may not contain underscore or comma characters.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "caseDefinitionId",
          "in" : "query",
          "description" : "Filter by the case definition the case executions run on.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "caseInstanceId",
          "in" : "query",
          "description" : "Filter by a case instance id.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "caseDefinitionKey",
          "in" : "query",
          "description" : "Filter by the key of the case definition the case executions run on.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "active",
          "in" : "query",
          "description" : "Only include active case executions. Value may only be true, as false is the default behavior.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "firstResult",
          "in" : "query",
          "description" : "Pagination of results. Specifies the index of the first result to return.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "repetition",
          "in" : "query",
          "description" : "Only include case executions which are repetitions. Value may only be true, as false is the default behavior.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "required",
          "in" : "query",
          "description" : "Only include required case executions. Value may only be true, as false is the default behavior.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "enabled",
          "in" : "query",
          "description" : "Only include enabled case executions. Value may only be true, as false is the default behavior.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "activityId",
          "in" : "query",
          "description" : "Filter by the id of the activity the case execution currently executes.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "tenantIdIn",
          "in" : "query",
          "description" : "Filter by a comma-separated list of tenant ids. A case execution must have one of the given tenant ids.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "repeatable",
          "in" : "query",
          "description" : "Only include repeatable case executions. Value may only be true, as false is the default behavior.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "maxResults",
          "in" : "query",
          "description" : "Pagination of results. Specifies the maximum number of results to return. Will return less results if there are no more results left.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sortOrder",
          "in" : "query",
          "description" : "Sort the results in a given order. Values may be asc for ascending order or desc for descending order. Must be used in conjunction with the sortBy parameter.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "businessKey",
          "in" : "query",
          "description" : "Filter by the business key of the case instances the case executions belong to.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "caseInstanceVariables",
          "in" : "query",
          "description" : "Only include case executions that belong to a case instance with variables with certain values. Variable filtering expressions are comma-separated and are structured as follows: A valid parameter value has the form key_operator_value. key is the variable name, operator is the comparison operator to be used and value the variable value. Note: Values are always treated as String objects on server side. Valid operator values are: eq - equal to; neq - not equal to; gt - greater than; gteq - greater than or equal to; lt - lower than; lteq - lower than or equal to; like. key and value may not contain underscore or comma characters.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disabled",
          "in" : "query",
          "description" : "Only include disabled case executions. Value may only be true, as false is the default behavior.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "Sort the results lexicographically by a given criterion. Valid values are caseExecutionId, caseDefinitionKey, caseDefinitionId and tenantId. Must be used in conjunction with the sortOrder parameter.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful.",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "object"
              }
            }
          },
          "400" : {
            "description" : "Returned if some of the query parameters are invalid, for example if a sortOrder parameter is supplied, but no sortBy, or if an invalid operator for variable comparison is used. See the Introduction for the error response format."
          }
        }
      },
      "post" : {
        "tags" : [ "Case Execution" ],
        "summary" : "Queries for case executions that fulfill given parameters through a JSON object.",
        "description" : "Queries for case executions that fulfill given parameters through a JSON object. This method is slightly more powerful than the Get Case Executions method because it allows filtering by multiple case variables of types `String`, `Number` or `Boolean`.",
        "operationId" : "queryCaseExecutions",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Parameter query",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CaseExecutionQueryDto"
          }
        }, {
          "name" : "firstResult",
          "in" : "query",
          "description" : "Parameter firstResult",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "maxResults",
          "in" : "query",
          "description" : "Parameter maxResults",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful.",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "object"
              }
            }
          },
          "400" : {
            "description" : "Returned if some of the query parameters are invalid, for example if a sortOrder parameter is supplied, but no sortBy, or if an invalid operator for variable comparison is used. See the Introduction for the error response format."
          }
        }
      }
    },
    "/case-execution/count" : {
      "get" : {
        "tags" : [ "Case Execution" ],
        "summary" : "Queries for the number of case executions that fulfill given parameters.",
        "description" : "Queries for the number of case executions that fulfill given parameters. Takes the same parameters as the Get Case Executions method.",
        "operationId" : "getCaseExecutionsCount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "caseExecutionId",
          "in" : "query",
          "description" : "Filter by a case execution id.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "variables",
          "in" : "query",
          "description" : "Only include case executions that have variables with certain values. Variable filtering expressions are comma-separated and are structured as follows: A valid parameter value has the form key_operator_value. key is the variable name, operator is the comparison operator to be used and value the variable value. Note: Values are always treated as String objects on server side. Valid operator values are: eq - equal to; neq - not equal to; gt - greater than; gteq - greater than or equal to; lt - lower than; lteq - lower than or equal to; like. key and value may not contain underscore or comma characters.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "caseDefinitionId",
          "in" : "query",
          "description" : "Filter by the case definition the case executions run on.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "caseInstanceId",
          "in" : "query",
          "description" : "Filter by a case instance id.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "caseDefinitionKey",
          "in" : "query",
          "description" : "Filter by the key of the case definition the case executions run on.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "active",
          "in" : "query",
          "description" : "Only include active case executions. Value may only be true, as false is the default behavior.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "repetition",
          "in" : "query",
          "description" : "Only include case executions which are repetitions. Value may only be true, as false is the default behavior.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "required",
          "in" : "query",
          "description" : "Only include required case executions. Value may only be true, as false is the default behavior.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "enabled",
          "in" : "query",
          "description" : "Only include enabled case executions. Value may only be true, as false is the default behavior.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "activityId",
          "in" : "query",
          "description" : "Filter by the id of the activity the case execution currently executes.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "tenantIdIn",
          "in" : "query",
          "description" : "Filter by a comma-separated list of tenant ids. A case execution must have one of the given tenant ids.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "repeatable",
          "in" : "query",
          "description" : "Only include repeatable case executions. Value may only be true, as false is the default behavior.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "businessKey",
          "in" : "query",
          "description" : "Filter by the business key of the case instances the case executions belong to.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "caseInstanceVariables",
          "in" : "query",
          "description" : "Only include case executions that belong to a case instance with variables with certain values. Variable filtering expressions are comma-separated and are structured as follows: A valid parameter value has the form key_operator_value. key is the variable name, operator is the comparison operator to be used and value the variable value. Note: Values are always treated as String objects on server side. Valid operator values are: eq - equal to; neq - not equal to; gt - greater than; gteq - greater than or equal to; lt - lower than; lteq - lower than or equal to; like. key and value may not contain underscore or comma characters.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disabled",
          "in" : "query",
          "description" : "Only include disabled case executions. Value may only be true, as false is the default behavior.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful.",
            "schema" : {
              "$ref" : "#/definitions/CountResultDto"
            }
          },
          "400" : {
            "description" : "Returned if some of the query parameters are invalid, for example if an invalid operator for variable comparison is used. See the Introduction for the error response format."
          }
        }
      },
      "post" : {
        "tags" : [ "Case Execution" ],
        "summary" : "Query Case Executions Count.",
        "description" : "Query Case Executions Count",
        "operationId" : "queryCaseExecutionsCount",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CountResultDto"
            }
          }
        }
      }
    },
    "/case-execution/{id}" : {
      "get" : {
        "tags" : [ "Case Execution" ],
        "summary" : "Retrieves a case execution by id, according to the `CaseExecution` interface in the engine.",
        "description" : "Retrieves a case execution by id, according to the `CaseExecution` interface in the engine.",
        "operationId" : "getCaseExecution",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Parameter caseExecutionId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful."
          },
          "404" : {
            "description" : "Case execution with given id does not exist. See the Introduction for the error response format."
          }
        }
      }
    },
    "/case-execution/{id}/complete" : {
      "post" : {
        "tags" : [ "Case Execution" ],
        "summary" : "title: \"Complete Case Execution\" weight: 70.",
        "description" : "title: \"Complete Case Execution\" weight: 70",
        "operationId" : "completeCase",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Parameter triggerDto",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CaseExecutionTriggerDto"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "Parameter caseExecutionId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Request successful."
          },
          "400" : {
            "description" : "The state transition is not allowed to be performed, for example when the case execution is enabled or is already completed. See the Introduction for the error response format."
          },
          "403" : {
            "description" : "The case execution cannot be completed because of CMMN restrictions. See the Introduction for the error response format."
          },
          "404" : {
            "description" : "The case execution with given id is not found. See the Introduction for the error response format."
          }
        }
      }
    },
    "/case-execution/{id}/disable" : {
      "post" : {
        "tags" : [ "Case Execution" ],
        "summary" : "Performs a transition from ENABLED state to DISABLED state.",
        "description" : "Performs a transition from ENABLED state to DISABLED state. In relation to the state transition, it is possible to update or delete case instance variables (please note: deletion precedes update).",
        "operationId" : "disable",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Parameter triggerDto",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CaseExecutionTriggerDto"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "Parameter caseExecutionId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Request successful."
          },
          "400" : {
            "description" : "The state transition is not allowed to be performed, for example when the case execution is active or is already disabled. See the Introduction for the error response format."
          },
          "403" : {
            "description" : "The case execution cannot be disabled because of CMMN restrictions. See the Introduction for the error response format."
          },
          "404" : {
            "description" : "The case execution with given id is not found. See the Introduction for the error response format."
          }
        }
      }
    },
    "/case-execution/{id}/localVariables" : {
      "get" : {
        "tags" : [ "Case Execution" ],
        "summary" : "Retrieves all variables of a given case execution.",
        "description" : "Retrieves all variables of a given case execution.",
        "operationId" : "getVariablesLocal",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Parameter caseExecutionId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful."
          },
          "500" : {
            "description" : "Case execution with given id does not exist. See the Introduction for the error response format."
          }
        }
      },
      "post" : {
        "tags" : [ "Case Execution" ],
        "summary" : "Updates or deletes the variables in the context of a case execution.",
        "description" : "Updates or deletes the variables in the context of a case execution. The updates do not propagate upwards in the case execution hierarchy. Please note: deletion precedes update.",
        "operationId" : "modifyLocalVariables",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Parameter patch",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PatchVariablesDto"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "Parameter caseExecutionId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Request successful."
          },
          "400" : {
            "description" : "The variable value or type is invalid, for example if the value could not be parsed to an Integer value or the passed variable type is not supported. See the Introduction for the error response format."
          },
          "500" : {
            "description" : "Update or deletion could not be executed, for example because the case execution does not exist."
          }
        }
      }
    },
    "/case-execution/{id}/localVariables/{varId}" : {
      "get" : {
        "tags" : [ "Case Execution" ],
        "summary" : "Retrieves a variable from the context of a given case execution.",
        "description" : "Retrieves a variable from the context of a given case execution. Does not traverse the parent case execution hierarchy.",
        "operationId" : "getCaseVariable",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "varId",
          "in" : "path",
          "description" : "Parameter variableName",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "deserializeValue",
          "in" : "query",
          "description" : "Parameter deserializeValue",
          "required" : false,
          "type" : "boolean",
          "default" : true
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "Parameter caseExecutionId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful.",
            "schema" : {
              "$ref" : "#/definitions/VariableValueDto"
            }
          },
          "404" : {
            "description" : "Variable with given id does not exist. See the Introduction for the error response format."
          }
        }
      },
      "put" : {
        "tags" : [ "Case Execution" ],
        "summary" : "Sets a variable in the context of a given case execution.",
        "description" : "Sets a variable in the context of a given case execution. Update does not propagate upwards in the case execution hierarchy.",
        "operationId" : "putCaseVariable",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "varId",
          "in" : "path",
          "description" : "Parameter variableName",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Parameter variable",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/VariableValueDto"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "Parameter caseExecutionId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Request successful."
          },
          "400" : {
            "description" : "The variable value or type is invalid, for example if the value could not be parsed to an Integer value or the passed variable type is not supported. See the Introduction for the error response format."
          }
        }
      },
      "delete" : {
        "tags" : [ "Case Execution" ],
        "summary" : "Deletes a variable in the context of a given case execution.",
        "description" : "Deletes a variable in the context of a given case execution. Deletion does not propagate upwards in the case execution hierarchy.",
        "operationId" : "deleteLocalVariable",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "varId",
          "in" : "path",
          "description" : "Parameter variableName",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "Parameter caseExecutionId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Request successful."
          }
        }
      }
    },
    "/case-execution/{id}/localVariables/{varId}/data" : {
      "get" : {
        "tags" : [ "Case Execution" ],
        "summary" : "Retrieves a binary variable from the context of a given case execution.",
        "description" : "Retrieves a binary variable from the context of a given case execution. Does not traverse the parent case execution hierarchy. Applicable for byte array and file variables.",
        "operationId" : "getCaseVariableBinary",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "varId",
          "in" : "path",
          "description" : "Parameter variableName",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "Parameter caseExecutionId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful."
          },
          "400" : {
            "description" : "Variable with given id exists but is not a binary variable. See the Introduction for the error response format."
          },
          "404" : {
            "description" : "Variable with given id does not exist. See the Introduction for the error response format."
          }
        }
      },
      "post" : {
        "tags" : [ "Case Execution" ],
        "summary" : "Sets the serialized value for a binary variable or the binary value for a file variable.",
        "description" : "Sets the serialized value for a binary variable or the binary value for a file variable.",
        "operationId" : "setCaseLocalBinaryVariable",
        "consumes" : [ "multipart/form-data" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "varId",
          "in" : "path",
          "description" : "Parameter variableName",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Parameter multipartFormData",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/MultipartFormData"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "Parameter caseExecutionId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Request successful."
          },
          "400" : {
            "description" : "The variable value or type is invalid, for example if no filename is set. See the Introduction for the error response format."
          }
        }
      }
    },
    "/case-execution/{id}/manual-start" : {
      "post" : {
        "tags" : [ "Case Execution" ],
        "summary" : "Performs a transition from ENABLED state to ACTIVE state.",
        "description" : "Performs a transition from ENABLED state to ACTIVE state. In relation to the state transition, it is possible to update or delete case instance variables (please note: deletion precedes update).",
        "operationId" : "manualStart",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Parameter triggerDto",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CaseExecutionTriggerDto"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "Parameter caseExecutionId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Request successful."
          },
          "400" : {
            "description" : "The state transition is not allowed to be performed, for example when the case execution is disabled or is already active. See the Introduction for the error response format."
          },
          "403" : {
            "description" : "The case execution cannot be started because of CMMN restrictions. See the Introduction for the error response format."
          },
          "404" : {
            "description" : "The case execution with given id is not found. See the Introduction for the error response format."
          }
        }
      }
    },
    "/case-execution/{id}/reenable" : {
      "post" : {
        "tags" : [ "Case Execution" ],
        "summary" : "Performs a transition from DISABLED state to ENABLED state.",
        "description" : "Performs a transition from DISABLED state to ENABLED state. In relation to the state transition, it is possible to update or delete case instance variables (please note: deletion precedes update).",
        "operationId" : "reenable",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Parameter triggerDto",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CaseExecutionTriggerDto"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "Parameter caseExecutionId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Request successful."
          },
          "400" : {
            "description" : "The state transition is not allowed to be performed, for example when the case execution is active or is already enabled. See the Introduction for the error response format."
          },
          "403" : {
            "description" : "The case execution cannot be reenabled because of CMMN restrictions. See the Introduction for the error response format."
          },
          "404" : {
            "description" : "The case execution with given id is not found. See the Introduction for the error response format."
          }
        }
      }
    },
    "/case-execution/{id}/terminate" : {
      "post" : {
        "tags" : [ "Case Execution" ],
        "summary" : "title: \"Terminate Case Execution\" weight: 90.",
        "description" : "title: \"Terminate Case Execution\" weight: 90",
        "operationId" : "terminate",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Parameter triggerDto",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CaseExecutionTriggerDto"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "Parameter caseExecutionId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Request successful."
          },
          "400" : {
            "description" : "The state transition is not allowed to be performed, for example when the case execution is not in the active state. See the Introduction for the error response format."
          },
          "403" : {
            "description" : "The case execution cannot be terminated because of CMMN restrictions. See the Introduction for the error response format."
          },
          "404" : {
            "description" : "The case execution with given id is not found. See the Introduction for the error response format."
          }
        }
      }
    },
    "/case-execution/{id}/variables" : {
      "get" : {
        "tags" : [ "Case Execution" ],
        "summary" : "Retrieves all variables of a given case execution by id.",
        "description" : "Retrieves all variables of a given case execution by id.",
        "operationId" : "getCaseVariables",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Parameter caseExecutionId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful."
          },
          "500" : {
            "description" : "Case execution with given id does not exist. See the Introduction for the error response format."
          }
        }
      },
      "post" : {
        "tags" : [ "Case Execution" ],
        "summary" : "Updates or deletes the variables in the context of a case execution.",
        "description" : "Updates or deletes the variables in the context of a case execution. The updates do not propagate upwards in the case execution hierarchy. Please note: deletion precedes update.",
        "operationId" : "modifyCaseVariables",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Parameter patch",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PatchVariablesDto"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "Parameter caseExecutionId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Request successful."
          },
          "400" : {
            "description" : "The variable value or type is invalid, for example if the value could not be parsed to an Integer value or the passed variable type is not supported. See the Introduction for the error response format."
          },
          "500" : {
            "description" : "Update or deletion could not be executed, for example because the case execution does not exist."
          }
        }
      }
    },
    "/case-execution/{id}/variables/{varId}" : {
      "get" : {
        "tags" : [ "Case Execution" ],
        "summary" : "Retrieves a variable from the context of a given case execution.",
        "description" : "Retrieves a variable from the context of a given case execution. Does not traverse the parent case execution hierarchy.",
        "operationId" : "getExecVariable",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "varId",
          "in" : "path",
          "description" : "Parameter variableName",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "deserializeValue",
          "in" : "query",
          "description" : "Parameter deserializeValue",
          "required" : false,
          "type" : "boolean",
          "default" : true
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "Parameter caseExecutionId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful.",
            "schema" : {
              "$ref" : "#/definitions/VariableValueDto"
            }
          },
          "404" : {
            "description" : "Variable with given id does not exist. See the Introduction for the error response format."
          }
        }
      },
      "put" : {
        "tags" : [ "Case Execution" ],
        "summary" : "Sets a variable in the context of a given case execution.",
        "description" : "Sets a variable in the context of a given case execution. Update does not propagate upwards in the case execution hierarchy.",
        "operationId" : "putVariable",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "varId",
          "in" : "path",
          "description" : "Parameter variableName",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Parameter variable",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/VariableValueDto"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "Parameter caseExecutionId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Request successful."
          },
          "400" : {
            "description" : "The variable value or type is invalid, for example if the value could not be parsed to an Integer value or the passed variable type is not supported. See the Introduction for the error response format."
          }
        }
      },
      "delete" : {
        "tags" : [ "Case Execution" ],
        "summary" : "Deletes a variable in the context of a given case execution.",
        "description" : "Deletes a variable in the context of a given case execution. Deletion does not propagate upwards in the case execution hierarchy.",
        "operationId" : "deleteCaseVariable",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "varId",
          "in" : "path",
          "description" : "Parameter variableName",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "Parameter caseExecutionId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Request successful."
          }
        }
      }
    },
    "/case-execution/{id}/variables/{varId}/data" : {
      "get" : {
        "tags" : [ "Case Execution" ],
        "summary" : "Retrieves a binary variable from the context of a given case execution.",
        "description" : "Retrieves a binary variable from the context of a given case execution. Does not traverse the parent case execution hierarchy. Applicable for byte array and file variables.",
        "operationId" : "getExecutionVariableBinary",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "varId",
          "in" : "path",
          "description" : "Parameter variableName",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "Parameter caseExecutionId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Request successful."
          },
          "400" : {
            "description" : "Variable with given id exists but is not a binary variable. See the Introduction for the error response format."
          },
          "404" : {
            "description" : "Variable with given id does not exist. See the Introduction for the error response format."
          }
        }
      },
      "post" : {
        "tags" : [ "Case Execution" ],
        "summary" : "Sets the serialized value for a binary variable or the binary value for a file variable.",
        "description" : "Sets the serialized value for a binary variable or the binary value for a file variable.",
        "operationId" : "setCaseBinaryVariable",
        "consumes" : [ "multipart/form-data" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "varId",
          "in" : "path",
          "description" : "Parameter variableName",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Parameter multipartFormData",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/MultipartFormData"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "Parameter caseExecutionId",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Request successful."
          },
          "400" : {
            "description" : "The variable value or type is invalid, for example if no filename is set. See the Introduction for the error response format."
          }
        }
      }
    },
    "/decision-definition" : {
      "get" : {
        "tags" : [ "Decision Definition" ],
        "summary" : "Queries for decision definitions that fulfill given parameters.",
[...]
